<div class="jumbotron">
  <%if current_user%>
    <h1 class = "h2 text-center"><%= current_user.nickname.capitalize%></h1>
  <%end%>

  <h3 class = "text-center"> Добро пожаловать в Чат!!!</h3>
<br>
  <p>Sign up or log in, then create a chatroom or browse existing rooms to start chatting.</p>
</div>
