<tr>
  <td>
    <%= link_to room.title, room_path(room) %>
  </td>
  <td>
    <% if is_moderator(room) %>
      <%= link_to "Удалить", room_path(room), remote: true,
                             method: :delete,
                             data: { confirm: 'Вы уверены?'}%>

    <%end%>
  </td>
</tr>
